
body{
font-family:Arial;
margin:0;
background:#f4f4f4;
text-align:center;
}

header{
background:#2c3e50;
color:white;
padding:20px;
}

.controls{
margin:20px;
}

input,select,button{
padding:10px;
margin:5px;
font-size:16px;
}

#map{
height:400px;
width:90%;
margin:auto;
border-radius:10px;
}

.station{
background:white;
margin:20px auto;
padding:15px;
width:400px;
border-radius:10px;
box-shadow:0 2px 5px rgba(0,0,0,0.2);
}

.price{
font-size:20px;
color:green;
font-weight:bold;
}
